# We rely on our internal mirror of NPM, which provides a reliable cache even
# if the public service goes down.
registry = "https://artifactory.metaswitch.com/api/npm/npm-virtual/"

# To avoid spurious changes to package-lock.json, we mandate specific versions
# of npm and node in package.json.
engine-strict = true
